/* font */
.work-sans{
  font-family: "Work Sans", sans-serif;
}

/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
}

/* header style */
header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.nav-title{
    font-weight: bold;
    font-size: 2.8rem;
}
nav > ul{
    display: flex;
    gap: 30px;
}
nav > ul > li{
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}
nav > ul > li > a{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */
.banner{
    margin-bottom: 90px;
}
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 16px;
}
.banner-img{
    width: 100%;
    margin-bottom: 40px;
}

/* features style */
.features{
    max-width: 1320px;
    margin: 0 auto;
}
.feature-container{
    display: flex;
    align-items: center;
    margin-bottom: 130px;
    gap: 73px;
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature-text-container{
    max-width: 530px;
}
.feature-title{
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 24px;
}
.feature-description{
    line-height: 26px;
}
.orange{
    color: #FF900E;
}

/* love & enjoy styles */
.enjoy-container{
    display: flex;
    gap: 145px;
    justify-content: center;
    margin-bottom: 130px;
}
.enjoy-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.enjoy-text-container{
    max-width: 585px;
}
#enjoy-sidebar{
    border-left: 5px solid #FF900E;
    padding: 20px;
}
.enjoy-title{
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 24px;
}
.enjoy-description{
    line-height: 26px;
    margin-bottom: 30px;
}
.enjoy-card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.enjoy-card-description{
    line-height: 26px;
}
.enjoy-image{
    max-width: 800px;
}
.enjoy-experience-card{
    background-color: #FF900E;
    border-radius: 8px;
    max-width: 350px;
    /* width: 350px; */
    padding: 45px 42px;
    text-align: center;
    color: white;
    position: relative;
    top: -100px;
    left: -100px;
}
.enjoy-experience-title{
    font-weight: bold;
    font-size: 4.1rem;
}
.enjoy-experience-description{
    font-weight: 500;
    font-size: 1.6rem;
}

/* some fact styles */
.some-fact-container{
    max-width: 1390px;
    margin: 0 auto;
}
.some-fact-text-container{
    max-width: 540px;
    margin-bottom: 100px;
}
.some-fact-title{
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 24px;
}
.some-fact-description{
    line-height: 26px;
}
.some-fact-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 180px;
}
.some-fact-card{
    text-align: center;
    max-width: 240px;
    padding: 35px 30px;
    border: 2px solid #FF900E;
    border-radius: 8px ;
}
.some-fact-card-title{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
.some-fact-card-description{
    font-weight: 600;
    font-size: 1.25rem;
}

/* sponsors styles */
.sponsor-container{
    max-width: 1440px;
    margin: 0 auto;
}
.sponsor-text-container{
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.sponsor-title{
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 24px;
}
.sponsor-description{
    line-height: 26px;
}
.sponsor-images{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;
    justify-content: center;
    justify-items: center;
    margin-bottom: 130px;
}
.sponsor-images img{
    filter: grayscale(100%);
}

/* footer styles */
footer{
    max-width: 1440px;
    margin: 0 auto;
}
.copyright{
    background-color: #FFF4E7;
    text-align: center;
    margin-bottom: 216px;
    border-radius: 8px;
}
.copyright-text{
    font-size: 1.25rem;
    padding: 39px 410px;
}

/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    /* navbar styles */
    .navbar{
        flex-direction: column;
        gap: 25px;
        padding-bottom: 40px;
    }
    .banner{
        margin: 0 auto;
        margin-bottom: 50px;
    }

    /* feature styles */
    .feature-container{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .feature-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-text-container{
        width: 85%;
    }

    /* love & enjoy styles */
    .enjoy-container{
        flex-direction: column;
        margin-bottom: 50px;
        gap: 30px;
    }
    .enjoy-text-container{
        width: 85%;
        margin: 0 auto;
    }
    .enjoy-image{
        width: 100%;
    }
    .enjoy-experience-card{
        width: 100%;
        top: 0;
        left: 0;
        margin: 0 auto;
        margin-top: 30px;
    }

    /* some fact card styles */
    .some-fact-text-container{
        width: 85%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .some-fact-cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        justify-items: center;
        margin-bottom: 50px;
    }

    /* sponsors styles */
    .sponsor-images{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 50px;
        gap: 70px;
    }

    /* footer styles */
    .copyright{
        width: 85%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .copyright-text{
        padding: 15px;
    }
}