/* font */
.work-sans{
  font-family: "Work Sans", sans-serif;
}

/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
}

/* header style */
header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.nav-title{
    font-weight: bold;
    font-size: 2.8rem;
}
nav > ul{
    display: flex;
    gap: 30px;
}
nav > ul > li{
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}
nav > ul > li > a{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */
.banner{
    margin-bottom: 90px;
}
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 16px;
}
.banner-img{
    width: 100%;
    margin-bottom: 40px;
}

/* features style */
.features{
    max-width: 1320px;
    margin: 0 auto;
}


/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    /* navbar styles */
    .navbar{
        flex-direction: column;
        gap: 25px;
        padding-bottom: 40px;
    }
    .banner{
        margin: 0 auto;
    }
}